* {
    font-family: Arial, Ubuntu, sans;
    font-size: 20px;
}

.display {
    display: block;
    line-height: 22px;
    height: 22px;
    padding: 7px;
}

.display-active {
    padding: 10px 1%;
    width: 98%;
}
