* {
    font-family: Arial, Ubuntu, sans;
    font-size: 20px;
    margin: 0; padding: 0;
}

.display {
    display: block;
    line-height: 22px;
    height: 22px;
    padding: 7px;
}

.display-active {
    padding: 15px 1%;
    font-size: 32px;
    width: 98%;
    border: none;
    background-color: #ddf;
}

.operators {
    text-align: center;
}

.operators-container {
    display: inline-table;
    width: 400px;
    margin-right: 25px;
}
.operators-container:last-child {
    margin-right: 0;
}

#calcService {
    width: 200px;
}
#calcNumbers {
    width: 300px;
}


.operators-container .operator {
    width: 100px;
    height: 100px;
    transition: all 200ms ease;
    border: none;
}

#calcNumbers .operator {
    background-color: #ccc;
}
#calcNumbers .operator:hover {
    background-color: #eee;
}
#calcNumbers .operator:active {
    background-color: #aaa;
}

#calcBinary .operator {
    background-color: #fb7;
}
#calcBinary .operator:hover {
    background-color: #fda;
}
#calcBinary .operator:active {
    background-color: #f95;
}

#calcUnary .operator {
    background-color: #7fb;
}
#calcUnary .operator:hover {
    background-color: #afd;
}
#calcUnary .operator:active {
    background-color: #5f9;
}

#calcService .operator {
    background-color: #7bf;
}
#calcService .operator:hover {
    background-color: #adf;
}
#calcService .operator:active {
    background-color: #59f;
}

.log {
    clear: both;
    background: #aaa;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
}

.log-entry {
    transition: all 200ms ease;
    padding: 10px 7px;
    border-bottom: 1px #777 solid;
    margin: 0;
    cursor: pointer;
}
.log-entry:hover {
    background-color: #ccc;
}
.log-entry:last-child {
    border: none;
}

@media screen and (min-width: 1024px) and (max-width: 1400px) { 
    .operators-container .operator {
        width: 75px;
        height: 75px;
    }
    .operators-container {
        margin-right: 10px;
        width: 300px;
    }
    #calcService {
        width: 151px;
    }
    #calcNumbers {
        width: 226px;
    }
}
@media screen and (max-width: 1023px) { 
    .operators {
        text-align: left;
    }
    .operators-container {
        display: flex;
        width: auto;
        margin-right: 0;
        justify-content: center;
    }
    .operators-container .operator {
        height: 6vh;
        flex-grow: 1;
    }
    #calcService {
        width: auto;
    }
    #calcNumbers {
        width: auto;
    }
}
@media screen and (orientation: landscape) and (max-width: 1023px) { 
    .operators-container .operator {
        height: 10vh;
    }
}
